@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
	font-size: 1.20em;
	font-family: 'EB Garamond', serif;
	text-align: center;
    height: 99.35%;	 	
	background: rgba(6, 172, 169, 1.0);
	background: -webkit-linear-gradient(left, rgba(6, 172, 169, 1.0), rgba(26, 183, 78, 1.0));
	background: -moz-linear-gradient(left, rgba(6, 172, 169, 1.0), rgba(26, 183, 78, 1.0));
	background: linear-gradient(to right, rgba(6, 172, 169, 1.0), rgba(26, 183, 78, 1.0));
}
body{
	height: 99.35%;
	margin-right: 50px;
}
.main{
	display: grid;
	grid-template-areas: 
		"home social"
		"home tiles";
}
.tiles-right{
	bottom: 5px;
	position: fixed;
	display: flex;
	margin-left: 35.5%;
}
.diary-link-img{
	width: 80%;
}
.home{
	width: 100%;
}
.quote{
	display: flex;
	justify-content: justify;
}
.quote-txt{
	text-align: justify;
	font-size: 1.3em;
}
#paragraph{
	font-weight: lighter;
}
#author-image{
	width: 70%;
	margin-top: 50px;
}
.isbn{
	margin: 0px !important;
}
.social{
	display: flex;
	justify-content: flex-end;
	width: 90%;
	height: 5%;
	margin-top: 10px;
}
.social a{
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.3s color;
}
#youtube:hover{
	color: red;
}
#twitter:hover{
	color: blue;
}
#whatsapp:hover{
	color: #008000;
}
#tiktok:hover{
	color: white;
}	
.text{
	margin-top: 0px !important;
	padding-top: 0px !important;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}
.buy-book{
	margin: 10px auto;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 30%;
	background-color: white;
	border-radius: 80px 80px 80px 80px;
	border: 0px solid #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
}
.join-whatsapp{
	margin: 50px auto;
	width: 40%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-color: white;
	border-radius: 80px 80px 80px 80px;
	border: 0px solid #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
}
.join-whatsapp:hover{
	text-decoration: underline;
}
.change{
	color: red;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	padding: 0 !important;
	margin: 0 !important;
}
.amazon a{
	color: blue;
	text-decoration: underline;
}	
.info{
	width: 100%;
}
.red-phone{
	display: none;
}

.iframe-container {
	display: flex;
	justify-content: space-evenly;
}

.watch-video {
	margin: 10px auto;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-align: center;
	width: 30%;
	background-color: white;
	border-radius: 80px 80px 80px 80px;
	border: 0px solid #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
}

@media(max-width: 1650px){
	.tiles-right{
		bottom: 5px;
		margin-left: 35%;
	}
	#author-image{
		width: 100%;
	}
	.red{
		padding-top: 50px;
	}
}
@media(max-width: 1550px){
	.tiles-right{
		bottom: 5px;
		margin-left: 37%;
	}
	#author-image{
		width: 100%;
	}
	.red{
		padding-top: 55px !important;
	}
}
@media(max-width: 1300px){
	#author-image{
		width: 100%;
	}
	.buy-book{
		margin: 20px auto !important;
	}
	.red{
		padding-top: 100px !important;
	}
}
@media(max-width: 1250px){
	.change{
		font-size: 1em;
	}
}
@media(max-width: 1200px){
	#author-image{
		width: 70%;
	}
	.red{
		padding-top: 250px !important;
	}
}
@media(max-width: 1234px) and (max-height: 689px){
	.join-whatsapp{
		width: 50% !important;
	}
}
@media(max-width: 1432px){
  .quote-txt{
  	font-size: 1em;
  }
  .join-whatsapp {
    position: absolute;
    bottom: 90px;
  }
}
@media(max-height: 620px){
	body{
		overflow: visible !important;
	}
	.main{
		grid-template-areas: 
			"home"
			"tiles";
	}
	.tiles-right{
		position: static !important;
		margin: 10px !important;
		display: grid !important;
	  	grid-template-areas: "img1 img2 img3 img4 img5 img6" !important;
  		width: 100% !important;
	}
	#author-image{
		width: 49%;
	}
	.social{
		justify-content: space-evenly !important;
	}
	.red{
		display: none;
	}
	.red-phone{
		display: block !important;
	}
  .join-whatsapp {
        position: static;
	}
}
@media(max-width: 1111px){
	body{
		overflow: visible !important;
	}
  .join-whatsapp {
        position: static;
	}
	.main{
		grid-template-areas: 
			"home"
			"tiles";
	}
	.tiles-right{
		position: static !important;
		margin: 10px !important;
		display: grid !important;
	  	grid-template-areas: "img1 img2 img3 img4 img5 img6" !important;
  		width: 100% !important;
	}
	#author-image{
		width: 49%;
	}
	.social{
		justify-content: space-evenly !important;
	}
	.text{
		font-size: 1em !important;
		padding-top: 10px !important;
	}
	.quote-txt{
		font-size: 1em !important;
	}
	.red-phone{
		display: block !important;
	}
	.red{
		display: none;
	}
}
@media(max-width: 830px){
	.social{
		width: 100% !important;
	}
	#author-image{
		width: 59% !important;
	}
}
@media(max-width: 700px){
	.diary-link{
		width: 80%;
	}
	.diary-link-img{
		width: 100%;
	}
}
@media(max-width: 500px){
	#author-image{
		width: 100% !important;
	}
	.social{
		height: 3%;
	}
	.buy-book{
		width: 50% !important;
	}
	iframe {
		width: calc(560px / 2);
		height: calc(315px / 2);
	}
}
@media(max-width: 350px){
	.heading{
		font-size: 0.8em !important; 
	}
	#author-image{
		width: 100% !important;
	}
	iframe {
		width: calc(560px / 3);
		height: calc(315px / 3);
	}
	.ts {
		font-size: 1.2em;	
	}
}
@media(max-width: 310px){
	#author-image{
		width: 89%;
	}
	.heading{
		font-size: 0.5em !important;
	}
}
